@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.nav-box {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  position: relative;
  width: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #515151;
  transition: transform 0.3s ease-in-out;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #515151;
  transition: transform 0.3s ease-in-out;
}

.hamburger span::before {
  top: -10px;
}

.hamburger span::after {
  bottom: -10px;
}

.hamburger.active span {
  transform: rotate(45deg);
}

.hamburger.active span::before {
  top: 0;
  transform: rotate(90deg);
}

.hamburger.active span::after {
  bottom: 0;
  transform: rotate(90deg);
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  background-color: #f8f8f8;
  list-style-type: none;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  padding-top: 200px;
  background-image: url(Images/background-op1.png);
  background-size: cover;
}

.dropdown-menu a {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ff5438;
  padding: 10px;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.hamburger.active + .dropdown-menu {
  display: block;
}

.lotainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30%;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-bottom: 30%;
}

.whole-body1 {
  padding: 0% 5% 15% 5%;
  background-image: url(Images/mabackgrounder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px 0;
}

.header h2 {
  font-weight: 700;
}

.div-1 {
  font-family: 'Lato', sans-serif;
  color: rgb(234, 62, 0);
  font-size: 25px;
  font-weight: 900;
  width: fit-content;
  border-radius: 0 20px 0 20px;
  padding: 3px;
  box-shadow: 2px 2px 2px 0;
  margin-bottom: 5px;
}

.div-2 {
  font-family: 'Lato', sans-serif;
  width: 60%;
  border-radius: 0 10px 0;
  padding: 3px;
  color: orangered;
  box-shadow: 2px 2px 2px 0;
  margin-bottom: 5px;
}

.div-3 {
  font-family: 'Lato', sans-serif;
  border-radius: 20px 4px 20px 4px;
  padding: 3px;
  color: rgb(74, 74, 74);
  color: #515151;
  box-shadow: 2px 2px 2px 0;
}

.visit-time {
  border: solid white 3px;
  background: rgba(244, 244, 244, 0.1);
  margin-top: 30px;
  padding: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #515151;
}

.services {
  padding: 20% 5%;
  background-image: url(Images/greys.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.services h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 25px;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.offers div {
  display: flex;
  align-items: center;
  background: #3b3e45;
  margin-bottom: 24px;
  gap: 10px;
}

.offers div:hover {
  background: #333;
}

.offers img {
  width: 30%;
}

.offers h3 {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #ff5438;
}

.offers h6 {
  color: white;
}

.services li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  border-style: none;
  background-color: #ff5438;
  color: #fff;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
}

.button button:hover {
  color: #ff5438;
  background-color: #3b3e45;
}

.cardz-sector {
  padding: 30% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardz-sector h2 {
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.cards p {
  color: #ff5438;
  font-family: 'Lato', sans-serif;
}

.cards h2 {
  margin-bottom: 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards {
  display: flex;
  padding: 5px 10px;
  gap: 24px;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.cards hr {
  width: 20%;
}

.cards img {
  width: 30%;
}

/* desktop media query */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-box {
    padding: 0 8%;
    display: flex;
    align-items: center;
    gap: 30%;
    width: 100%;
  }

  .dropdown-desktp {
    display: flex;
    gap: 80px;
  }

  .dropdown-desktp a {
    text-decoration: none;
    color: black;
  }

  .logo img {
    margin-bottom: 0;
  }

  .whole-body1 {
    height: 887px;
    padding: 0 8% -20% 8%;
  }

  .div-1 {
    font-size: 50px;
    width: 50%;
  }

  .div-2 {
    font-size: 30px;
    width: 60%;
  }

  .div-3 {
    font-size: 25px;
    width: 65%;
    margin-top: 20px;
  }

  .visit-time {
    font-size: 30px;
    width: 100%;
  }

  .services {
    padding: 75px 0;
  }

  .offers {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }

  .offers div {
    flex-direction: column;
    width: 13%;
    gap: 20px;
    text-align: center;
  }

  .button button {
    background-color: transparent;
    font-size: 20px;
    border-bottom: solid white 2px;
  }

  .button button:hover {
    background-color: transparent;
    border-bottom: solid #ff5438 2px;
  }

  .cardz-sector {
    padding-top: 0;
    padding-bottom: 1px;
  }

  .cards img {
    width: 250px;
    height: 130px;
  }

  .card-list {
    display: flex;
  }

  .dynamic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .partners {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    padding: 0 6%;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
    background-color: #ddd;
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .logo img,
  .dropdown-desktp,
  .partners,
  footer {
    display: none;
  }
}
